<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
   
   <bean id = "addition" class = "com.sonata.implementation.DefAddition" />
   <bean id ="calc" class = "com.sonata.implementation.DefCalculator" >
   		<property name="add" ref="addition"></property>
   </bean>

</beans>
