<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
    <description></description>
    <display-name>GFGServlet</display-name>
    <servlet-name>GFGServlet</servlet-name>
    <servlet-class>filterdemo.GFGServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GFGServlet</servlet-name>
    <url-pattern>/GFGServlet</url-pattern>
  </servlet-mapping>
  <display-name>filterdemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>filterdemo</filter-name>
    <filter-class>filterdemo.GFGFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>filterdemo</filter-name>
    <url-pattern>/GFGServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>GFGServlet1</display-name>
    <servlet-name>GFGServlet1</servlet-name>
    <servlet-class>filterdemo.GFGServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GFGServlet1</servlet-name>
    <url-pattern>/GFGServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GFGServlets</display-name>
    <servlet-name>GFGServlets</servlet-name>
    <servlet-class>filterdemo.GFGServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GFGServlets</servlet-name>
    <url-pattern>/GFGServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GFGServlet2</display-name>
    <servlet-name>GFGServlet2</servlet-name>
    <servlet-class>filterdemo.GFGServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GFGServlet2</servlet-name>
    <url-pattern>/GFGServlet2</url-pattern>
  </servlet-mapping>
</web-app>